* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
/*-- thuộc tính toàn trang web --*/
html,body {
	font-family: "Times New Roman";
	font-size: 18px;
	text-align: center;
	margin: 0;
	padding: 0;
	height: 100%;
	width: auto;
}
/*-- link a toàn trang web --*/
a {
	text-decoration: none;
	color: #3d3d29;
	font-size: 0.85em;
}

a:hover {
	text-decoration: underline;
}

/*--container--*/
#container {
	position: relative;
	height: 100%;
	margin: 0;
	padding: 0;
}
/*-- menu chung --*/
.nav {
	height: 50px;
	width: auto;
}

.nav ul {
	list-style-type: none;
	margin: 0;
	margin-right: 0.5em;
	margin-top: 0.7em;
	padding: 0;
	float: right;
}

.nav ul li {
	display: inline-block;
}

.nav ul li a {
	padding: 0.5em;
}

/*-- item đầu tiên của menu trên cùng --*/
#nav0 li:first-child {
	color: #b8b894;
	font-size: 0.8em;
}
/*--hình đại diện --*/
#avatar {
	border-radius: 100%;
}
/*--content--*/
#content {
	margin: 0;
	padding: 0;
	padding-bottom: 35px;
}

#logo {
	margin-top: 100px;
	margin-bottom: 30px;
}
/*--khung search --*/
#srchtxt {
	border: 1px solid #d9d9d9;
	line-height: 2.3em;
	width: 40%;
}
/*-- img key board --*/
#kb {
	position: relative;
	right: 40px;
	top: 9px;
}
/*--content button --*/
.button {
	width: auto;
	height: 3em;
	margin-top: 30px;
	margin-right: 10px;
	color: #808080;
	border: none;
	font-weight: bold;
	background-color: #f2f2f2;

	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.button:hover {
	color: #333333;
	border: 1px solid #bfbfbf;
}
 /*--menu cuối--*/
#footer {
 	background-color: #e6e6e6;
	position: absolute;
	bottom: 0;
	/*top: 640px;*/
	height: 50px;
	width: 100%;
	font-size: 1.3em;
}

#nav1, #nav2 ul li{
	border-right: 1px solid white;
}

 #nav1 {
 	float: left;
 }



