* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html, body {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	font-size: 18px;
}
/*-- style cơ bản toàn trang web --*/
#container {
	margin: 0;
	padding: 0;
	position: relative;
}

img {
	width: 25px;
	height: 25px;
}

a {
	text-decoration: none;
	color: blue;
}

a:hover {
	text-decoration: underline;
}

ul {
	list-style-type: none;
}

ul li {
	display: inline-block;
}

/*-- style cho thanh menu trên cùng --*/
#menu {
	height: 60px;
	width: auto;
	background-color: #f2f2f2;
	margin: 0;
}
#logo {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 80px;
	height: 40px;
}
#logo img {
	width: 90px;
	height: 40px;
}
#box-s {
	position: absolute;
	top: 10px;
	left: 120px;
}
#box-s input {
	width: 600px;
	height: 35px;
	border: 1px solid #e6e6e6;
	padding: 10px;
}

#box-s img:nth-child(2) {
	position: absolute;
	top: 5.5px;
	right: 10px;
}

#box-s img:last-child {
	height: 35px;
	width: auto;
	position: absolute;
	top: 0px;
	right: -35px;
}

#info {}

#info ul {
	float: right;
}

#info ul li {
	margin-right: 15px;
}

#info ul li:first-child {
	color: #b3b3b3;
}

#avatar {
	border-radius: 100%;
}

/*--menu thứ 2--*/
#menu-0 {
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #b3b3b3;
}
#submenu {
	margin-left: 80px;
	width: 60%;
}
#submenu ul li {
	margin-right: 17px;
	font-size: 20px;
}
#submenu ul li a{
	color: #737373;
}
#submenu ul li a:hover {
	text-decoration: none;
	color: #262626;
}
#submenu ul li a:active {
	font-weight: bold;
	color: blue;
	border-bottom: 3px solid blue;
}
/*-- menu bên phải*/
#menu-r {
	position: absolute;
	top: 60px;
	right: 30px;
}
/*-- nội dung tìm kiếm*/
#content {
	width: 50%;
}
#content-search {
	margin-left: 120px;
}
#content-search p {
	margin-top: 10px;
	color: #737373;
}
/*-- box hình ảnh search --*/
#box1 {
	height: 200px;
	border-bottom: 1px solid #b3b3b3;
}
#box1 h3 {
	margin-bottom: 20px;
	margin-top: 25px;
}
#box1 img {
	width: 22%;
	height: 100px;
	margin-right: 10px;
}
#box1 p:nth-child(2) {
	font-size: 14px;
	position: absolute;
	left: 550px;
	top: 165px;
}
#box1 p a:last-child {
	font-weight: 16px;
	color: #3333ff;
}
/*-- box nội dung --*/
.box {
	margin-top: -10px;
	padding: 0;
	width: 100%;
	height: auto;
}
.box h3 {
	margin-bottom: -5px;
}
.box h3 a {
	color: #000099;
	font-weight: normal;
}
.box p:nth-child(2) {
	font-size: 14px;
	margin-bottom: -5px;
	color: #009900;						// ko hiển thị màu sắc
}
.box p:nth-child(3) {
	color: #333333;						// ko hiển thị màu sắc
}
/*-- tìm kiếm liên quan --*/
#relative {
	margin-left: 0px;
	border-top: 1px solid #b3b3b3;
}
#relative p {
	font-size: 20px;
	font-weight: bold;
}
.result {
	width: 40%;
	height: 140px;
	display: inline-block;
	margin-top: -10px;
}
.result a {
	display: block;
	color: blue;
	padding: 3px;
}
#r2 {
	float: right;
	margin-right: 0;
}
/*-- lật trang --*/
#page {
	border-top: 1px solid #b3b3b3;
	padding-left: 150px;
	padding-top: 20px;
}
#page img {
	width: 300px;
	height: 40px;
}
#page ul li {
	margin: 7px;
	margin-top: 0;
}
#page ul li a{
	font-weight: bold;
}
/*--footer--*/
#footer {
	background-color: #f2f2f2;
	width: 100%;
	padding-left: 120px;
	display: inline-block;
}

#footer p {
	color: #737373;
	width: 40%;

}
#footer ul li {
	margin-right: 30px;
}
#footer ul li a {
	color: #737373;
	font-weight: bold;
}
#footer ul li a:hover {
	color: #262626;
	text-decoration: none;
}